body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    background: url(../images/banner.jpg);
    background-attachment: fixed;
    background-size: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.banner {
    align-self: center;
    text-align: center;
}
header .banner h1{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
    color: aliceblue;
}
header .banner hr{
    margin-top: 30px;
    width: 750px;
}
header .banner p{
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #CBC8C6;
}